---
import GrafanaChart from './GrafanaChart.astro';

// Configuración común para todos los gráficos
const commonGraphId = "g1415105270.14471";
const logoUrl = "/src/images/logoCadenas.webp";

// Configuraciones específicas para cada gráfico (podrían personalizarse más)
const charts = [
  {
    id: "chart-Zara",
    startTime: "end-30m",
    height: "360px",
    refreshInterval: 60000,
    graphId: "g1415104903.881",
  },
  {
    id: "chart-Zara-IPOD",
    startTime: "end-30m",
    height: "360px",
    refreshInterval: 60000,
    graphId: "g1415105211.11850",
  },
  {
    id: "chart-cadenas",
    startTime: "end-30m",
    height: "360px",
    refreshInterval: 60000,
    graphId: "g1415105270.14471",
  },
   {
    id: "chart-cadenas2",
    startTime: "end-30m",
    height: "360px",
    refreshInterval: 60000,
    graphId: "g1415105344.17916",
  }
];
---

<div class="charts-container">
  {charts.map((chart) => (
    <img src={logoUrl} class="logo" alt="Logo" />
    <div class="chart-wrapper">
      <GrafanaChart
        graphId={chart.graphId}
        logoHeight="40px"
        startTime={chart.startTime}
        height={chart.height}
        refreshInterval={chart.refreshInterval}
        uniqueId={chart.id}
      />
    </div>
  ))}
</div>

<style>

      .logo {
    max-width: fit-content;
    max-height: 40px;
    object-fit: contain;
    z-index: 10;
    top: 10px;
    left: 10px;
  }

  .charts-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px; /* Espacio entre las gráficas */
    padding: 15px;y
    background-color: #121212;
  }

  .chart-wrapper {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
</style>